.footer {
    margin-top: 73px;
    background-color: #FA8072;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0;
}