body {
    height: 100%;
}

.page {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    column-gap: 3rem;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 100px;
}

form,
article {
    border: 3px solid rgb(135, 206, 238);
    background-color: rgb(135, 206, 238);
    padding: 15px;
    border-radius: 20px;
}

.lien_profil {
    margin-left: 10%;
    width: 80%;
    border-radius: 20px 20px 20px 20px;
}

.nav_list {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
    .page {
        column-gap: 3rem;
    }
    .nav_list {
        display: flex;
        flex-direction: column;
    }
    .main {
        margin-left: 10%;
    }
}

@media screen and (min-width: 180px) and (max-width: 700px) {
    .page {
        column-gap: 0.5rem;
        grid-template-columns: 1fr;
    }
    .nav_list {
        display: flex;
        grid-row: 1/1;
    }
    .main {
        margin-left: 5%;
        margin-right: 5%;
        grid-row: 2/2;
    }
}

.text-post {
    border: solid rgb(26, 110, 171) 3px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(135, 206, 238);
    width: 100%;
}