body {
    height: 100%;
}

.page {
    display: grid;
    grid-template-columns: 20rem 50rem;
    grid-template-rows: 1fr;
    column-gap: 5rem;
}

.main {
    margin-left: 30px;
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
    .page {
        grid-template-columns: 15rem 50rem;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 180px) and (max-width: 700px) {
    .page {
        grid-template-columns: 10rem 50rem;
        column-gap: 1rem;
    }
}

.lien_profil {
    margin-left: 10%;
    width: 80%;
    border-radius: 20px 20px 20px 20px;
}