body {
    height: 100%;
}

.page {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    column-gap: 3rem;
}

.main {
    margin-left: 30%;
    border: 3px solid rgb(135, 206, 238);
    background-color: rgb(135, 206, 238);
    border-radius: 20px;
    padding: 20px;
}

.lien_profil {
    margin-left: 10%;
    width: 80%;
    border-radius: 20px 20px 20px 20px;
}

.nav_list {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
    .page {
        column-gap: 3rem;
    }
    .nav_list {
        display: flex;
        flex-direction: column;
    }
    .main {
        margin-left: 20%;
    }
}

@media screen and (min-width: 180px) and (max-width: 700px) {
    .page {
        column-gap: 0.5rem;
    }
    .nav_list {
        display: flex;
        flex-direction: column;
    }
    .main {
        margin-left: 10%;
    }
}