body {
    width: 100%;
}

.logo {
    text-align: start;
    background-color: #FD2D01;
    margin-bottom: 40px;
    width: auto;
    padding: 0px 2% 10px 2%;
    height: 90px;
}

img {
    width: 300px;
    padding: 15px;
    margin-top: 9px;
}

@media screen and (min-width: 180px) and (max-width: 700px) {
    .logo {
        text-align: center;
    }
    img {
        width: 250px;
        padding: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    img {
        width: 300px;
        padding: 15px;
    }
}

.nav h4 {
    color: white;
    padding-top: 5%;
}